.App {
  height: 100dvh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.warning {
  @apply border-l-4 border-yellow-500 bg-yellow-50 p-2 text-yellow-700;
}
.warning h3 {
  @apply mb-2 text-sm text-yellow-800;
}
.App.dark .warning {
  @apply bg-yellow-900/20 text-yellow-300;
}
.App.dark .warning h3 {
  @apply text-yellow-200;
}
